header {
  margin: -10px;
  background: url("images/books-fall-02.png") no-repeat center, url("images/header-back.jpg") no-repeat center;
  padding: 50px;
  background-size: 15%, cover;
  background-position: right bottom, left top;
}

#top1 {
  font-family: Blippo, fantasy;
  font-size: 400%;
  position: center;
}

#top2 {
  font-family: Blippo, fantasy;
  font-size: 100%;
}

main {
  margin-left: 10px;
  margin-right: 20px;
}

img {
  width: 80%;
}

footer {
  background: url("parchment.jpg");
  margin: 10px;

}

fieldset {
  border: 2px solid black;
  margin: 0px;
}

.foot-heading {
  margin: 0px;
}

.recs {
  font-family: Gill sans, sans-serif;
}

a:visited {
  color: #ff975b;
}

a:hover {
  color: green;
}

@media screen and (max-width: 450px) {
  main {
    font-size: .8em;
  }
  #top1 {
    font-size: 250%;
  }
  #top2 {
    font-size: 80%;
  }
}